<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Animal Family</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-background">
        <header>
            <h1>Meet Our Beloved Animals</h1>
        </header>

        <main>
            {% for image in animal_images %}
            <div class="animal-card">
                <img src="{{ url_for('static', filename='images/animals/' ~ image) }}" alt="Animal photo">
                <p class="animal-name">{{ image.split('.')[0] }}</p>
            </div>
            {% endfor %}
        </main>
    </div>
    <script>
        document.querySelectorAll('.animal-card img').forEach(img => {
            img.addEventListener('click', () => {
                img.style.animation = 'clickSubtle 0.2s ease-in-out';
                setTimeout(() => {
                    img.style.animation = '';
                }, 200);
            });
        });
    </script>        
</body>
</html>